<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Pictionary</span>
            <span class="example-fill-remaining-space"></span>
            <span class="align-center"></span>
            <span class="example-spacer"></span>
            <div class="action-header">
                <button mat-button>About</button>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                </button>
            </div>
        <mat-menu #menu="matMenu" *ngIf="">
            <button mat-menu-item>
            <mat-icon>delete_forever</mat-icon>
            <span>Supprimer compte</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>