<!-- <mat-grid-list cols="5" rowHeight="100px">
        <mat-grid-tile>1
             <img src="../../ressources/images/1.jpg" alt="Photo of a Shiba Inu">
        </mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        
</mat-grid-list> -->

      
<!-- <mat-grid-list cols="5" rowHeight="200px" gutterSize="10px">
  <mat-grid-tile><img src="assets/images/1.jpg" alt="Transports"><mat-grid-tile-footer>texte</mat-grid-tile-footer></mat-grid-tile>
  <mat-grid-tile>2<mat-grid-tile-footer>texte</mat-grid-tile-footer></mat-grid-tile>
  <mat-grid-tile>3<mat-grid-tile-footer>texte</mat-grid-tile-footer></mat-grid-tile>
  <mat-grid-tile>4<mat-grid-tile-footer>texte</mat-grid-tile-footer></mat-grid-tile>
  <mat-grid-tile>5<mat-grid-tile-footer>texte</mat-grid-tile-footer></mat-grid-tile>
  
</mat-grid-list> -->

<mat-grid-list cols="5" rowHeight="200px" gutterSize="10px">
  <mat-grid-tile 
      *ngFor="let tile of tiles; let i = index" (click)="onClick(tile)"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color"
      [ngStyle]="{ 'border-radius': tile.borderRadius }"
      [ngClass]="'tile' + i"
      >
      <img [src]="tile.imageUrl"/>
     
    <mat-grid-tile-footer>{{tile.text}}</mat-grid-tile-footer>
    
  </mat-grid-tile>
</mat-grid-list>