/*@import "@material/image-list/mdc-image-list";

.my-image-list {
    @include mdc-image-list-standard-columns(5);
  }*/

  

  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  mat-grid-tile {
    background: lightblue;
  }