 /* .tile5 {
    background: lightblue; 
    background-image: url('../../ressources/images/2.jpg');
  }  */

  .mat-grid-tile-footer{
    font-size: 18px;
  }
/* .mat-grid-list{
  margin-top: 30px;
  margin-left: 10px;
} */
  img {
    max-width: 100%;
    height: auto;
  }