<!---- ul class="mdc-image-list my-image-list">
    <li class="mdc-image-list__item">
      <div class="mdc-image-list__image-aspect-container">
        <img class="mdc-image-list__image" src="...">
      </div>
      <div class="mdc-image-list__supporting">
        <span class="mdc-image-list__label">Text label</span>
      </div>
    </li>
    ...
</u-->
<mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
       
</mat-card>


