<form class="example-form">
    <div id="chatZone">
      <div style="text-align: center;">ChatZone</div>
      <div *ngFor="let m of messages"><strong>{{m.emetteur}}</strong> : {{m.message}}</div>
    </div>
  <!-- <textarea
    id="chat"
    readonly="true"
    [(ngModel)]="messages"
    [ngModelOptions]="{ standalone: true }"
  >
  </textarea> -->
  <mat-form-field id="message" class="example-full-width">
    <input
      matInput
      placeholder="Message"
      [(ngModel)]="message"
      [ngModelOptions]="{ standalone: true }"
      [disabled]="lock"
    />
  </mat-form-field>

  <button
    mat-icon-button
    color="primary"
    aria-label="Envoyer message"
    (keyup.enter)="posterMessage()"
    (click)="posterMessage()"
  >
    <mat-icon>send</mat-icon>
  </button>

  <!--button
    mat-button
    color="primary"
    (keyup.enter)="posterMessage()"
    (click)="posterMessage()"
  >
    Envoyer message
  </button-->
</form>
