.example-card{
    width: 200px;
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 200px;

}

.example-card:hover{
    background-color: #eef7fb4d;
}

.switchMode{
    margin-left: auto;
}