<div [ngSwitch]="createAccount">
    <mat-card *ngSwitchCase="false" class="example-card" style="order:2">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                        <input matInput id="login_username" placeholder="Username" [(ngModel)]="username" name="username" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                        <input matInput id="login_password" placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            </form>
            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="login()" color="primary">Login</button>
        </mat-card-actions>
        <mat-card-actions>
            <button class="switchMode" mat-button (click)="createAccount = !createAccount" color="primary">Create an account...</button>
        </mat-card-actions>
    </mat-card>
    <mat-card *ngSwitchCase="true" class="example-card" style="order:2">
        <mat-card-header>
            <mat-card-title>Sign up</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                        <input matInput placeholder="Username" id="create_username" [(ngModel)]="username" name="username" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td><mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" id="create_password" [(ngModel)]="password" type="password" name="password" required>
                    </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                        <input matInput placeholder="Password" id="create_confirmPassword" [(ngModel)]="password2" type="password" name="password2" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                        <input matInput placeholder="email" id="create_email" [(ngModel)]="email" type="email" name="email" minlength="3" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            </form>
            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="create()" color="primary">Create</button>
        </mat-card-actions>
        <mat-card-actions>
            <button class="switchMode" mat-button (click)="createAccount = !createAccount" color="primary">Log in...</button>
        </mat-card-actions>
    </mat-card>    
</div>
