<!-- <h2 mat-dialog-title>{{modalTitle}}</h2>
<mat-dialog-content>It's your turn, pick a word?</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{wordOne}}</button>
  The mat-dialog-close directive optionally accepts a value as a result for the dialog.
  <button mat-button [mat-dialog-close]="true">{{wordTwo}}</button>
  <button mat-button [mat-dialog-close]="true">Banana</button>
</mat-dialog-actions> -->

<h2 mat-dialog-title>{{modalTitle}}</h2>
<mat-dialog-content>It's your turn, pick a word?</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>yes</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true">no</button>
  <button mat-button [mat-dialog-close]="true">Banana</button>
</mat-dialog-actions>