#playZone{
    display:flex;
    flex-direction: column;
}

#canvasZone{
    border-radius: 2px;
}

#fakeBorder{
    border: 10px ridge #bac1c5;
    height:310px;
    width: 610px;
}

#tools{
    border-radius: 5px;
    background-color: #e7eff9;
    background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);   
    width: 60px;
    height: 150px;
}