/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #eef7fb,
    100 : #d4eaf5,
    200 : #b7ddee,
    300 : #9acfe7,
    400 : #85c4e1,
    500 : #6fbadc,
    600 : #67b3d8,
    700 : #5cabd3,
    800 : #52a3ce,
    900 : #4094c5,
    A100 : #ffffff,
    A200 : #e3f4ff,
    A400 : #b0e1ff,
    A700 : #96d7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #fbf3ea,
    100 : #f6e1cb,
    200 : #f0cda8,
    300 : #eab985,
    400 : #e6aa6b,
    500 : #e19b51,
    600 : #dd934a,
    700 : #d98940,
    800 : #d57f37,
    900 : #cd6d27,
    A100 : #ffffff,
    A200 : #ffe7d7,
    A400 : #ffc8a4,
    A700 : #ffb98b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-warn: (
    50 : #fce1e5,
    100 : #f8b5bd,
    200 : #f38492,
    300 : #ee5266,
    400 : #ea2d45,
    500 : #e60824,
    600 : #e30720,
    700 : #df061b,
    800 : #db0416,
    900 : #d5020d,
    A100 : #fffcfd,
    A200 : #ffc9cb,
    A400 : #ff9699,
    A700 : #ff7d80,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

